<div class="bg-red-600 rounded-md h-20 w-11/12 mb-8 md:h-10">
	<p class="font-semibold text-center text-white mt-3 md:mt-1.5">
		This is an adult movie, not appropriate for user below 18 years old, PLEASE BE WISE!
	</p>
</div>
