<!-- header search -->
<div class="search flex justify-center my-10">
	<form action="/dashboard" method="post" class="flex flex-col justify-center md:flex-row">
		<input
			type="search"
			name="search"
			id="search"
			placeholder="search"
			class="basis-12 w-80 h-12 px-5 outline-none text-lg shadow-md rounded-md border-2 md:basis-1 shadow-blue-300 border-blue-400 focus:border-blue-600"
		/>
		<button
			type="submit"
			class="w-40 h-12 mt-5 mx-auto md:w-20 md:h-12 md:m-0 rounded-md text-lg shadow-md bg-blue-400 text-white shadow-blue-300 hover:shadow-blue-500 active:bg-blue-600"
		>
			Search
		</button>
	</form>
</div>
