<%- include('layouts/header.ejs') %>
<div class="container mx-auto my-3 px-20">
	<div class="container">
		<h1 class="text-8xl font-semibold text-blue-800 p-10">Mo-Fi</h1>
	</div>
	<main class="flex justify-center gap-96">
		<div class="my-20">
			<p class="text-3xl px-5 font-medium">See The Movie and Search Favorite</p>
			<p class="text-5xl px-5 my-10 mb-20 font-bold text-blue-800">Now</p>
			<a
				href="/dashboard"
				class="rounded-lg px-10 py-3 mx-5 bg-blue-800 text-white text-2xl text-center font-medium"
				>See Now</a
			>
		</div>
		<div>
			<img src="images/cuate.png" alt="company vector" />
		</div>
	</main>
</div>
<%- include('layouts/closer.ejs') %>
