<%- include('layouts/header.ejs') %>
<div class="flex container">
	<div class=""><img src="" alt="" /></div>
	<div class="">
		<h1>Login</h1>
		<form action="" method="post">
			<input type="text" name="" class="" id="" placeholder="Email" />
			<input type="password" name="" class="" id="" placeholder="Password" />
		</form>
	</div>
</div>
<%- include('layouts/closer') %>
